---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout sideBarActiveItemID="home">
  <div class="pb-12 mt-5">
    <div class="text-xl py-1">Hey there 👋</div>
    <div class="text-5xl font-bold">I'm Sarah Park</div>
    <div class="text-3xl py-3 font-bold">Software Developer</div>
    <div class="py-2">
      <text class="text-lg">
        Welcome to my software portfolio, a showcase of my most noteworthy projects and a glimpse into my coding prowess. 
        From elegant front-end designs to robust back-end functionalities, you'll find an array of diverse applications 
        that reflect my commitment to excellence and my passion for creating intuitive digital experiences.
        Thank you for visiting my portfolio! I'm excited to embark on new challenges and collaborate on projects that push 
        the boundaries of innovation and creativity. If you're interested in joining forces or have any questions, please 
        don't hesitate to reach out. Let's build the future together, one line of code at a time!
      </text>
    </div>
  </div>

  <div>
    <div class="text-3xl w-full font-bold mb-2">My Skills</div>
  </div>
  <b>Front End Development</b></br>
  Able to create and implement the visual elements and user interface of websites and web applications using HTML, CSS, and JavaScript. 
  Focus on designing responsive and interactive user experiences while ensuring cross-browser compatibility and accessibility. 
  Able to collaborate with UI/UX designers and back-end developers to build cohesive and functional web products.
  I possess the ability to create scalable and accessible front-end designs utilising a range of technologies, such as React, Next.js, and Tailwind, among others.</br></br>
  <b>Back End Development</b></br>
  Able to build and maintain the server-side of websites and web applications. 
  I work with server-side programming languages, databases, and server technologies to handle data storage, business logic, and user authentication. 
  I ensure that the application runs smoothly, handles requests efficiently, and securely manages data interactions between the client-side and the server-side components.
  I have the expertise to construct data-serving back-ends for my applications, utilising popular frameworks like Express.js and SQLite.</br></br>
  <b>API development</b></br>
  Able to design, build, and maintain application programming interfaces (APIs) that enable seamless communication between software systems.
  I create API endpoints, handle data structures, and implement authentication mechanisms to ensure secure and efficient data exchange. 
  Additionally, I prioritise documentation, testing, and optimization to provide a smooth integration experience for other developers utilising their APIs.

</BaseLayout>
